@import url(http://fonts.googleapis.com/css?family=VT323);

body{
  margin: 0px;
}

#isProcessing{
  background: none;
  background-size: 100%;
  width: 100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
}

#isProcessing.processing{
  background: url(./images/processing.gif) no-repeat center center fixed; 
  background-size: 100%;
  width: 100%;
  height:100%;
}


#Background0 {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:url(./images/background_0.gif);
  background-size: 100%;
  top:0px;
  left:0px;
}

#text{
 }

#text.text{
  position: absolute;
  top: 20%;
  left: 0px;
  font-family: '256Bytes';
  font-size: 200px;
  text-align: center;
  color: black;
  text-transform:uppercase;
/*  color: -webkit-linear-gradient(top, #100FFE 0%, #FF00FF 10%, #00FBFF 100%);
*/  width: 100%; }

#gifAnswer{
  position: absolute;
  height: 100%;
  width: 100%;
}

#gifAnswer img{
  margin-top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
/*  z-index:-1;
*/}
