@import url(http://fonts.googleapis.com/css?family=VT323);

body{
  margin: 0px;
}

#isProcessing{
  background: none;
  background-size: 100%;
  width: 100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  /*z-index: -1000;*/
}

#isProcessing.processing{
  background: url(./images/processing.gif) no-repeat center center fixed; 
  background-size: 100%;
  width: 100%;
  height:100%;
  z-index: 1000;
}


#Background0 {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:url(./images/background_0.gif);
  background-size: 100%;
  top:0px;
  left:0px;
}

#text{
 }

#text.text{
  position: absolute;
  top: 20%;
  text-align: center;
  margin-left: 10%;
  margin-right: auto;
  font-family: '256Bytes';
  font-size: 65px;
  color: black;
  width: 80%;
  text-transform:uppercase;
/*  color: -webkit-linear-gradient(top, #100FFE 0%, #FF00FF 10%, #00FBFF 100%);

*/  
 }

 #email{
  position: absolute;
  top: 5%;
  text-align: center;
  margin-left: 15%;
  margin-right: auto;
  font-family: '256Bytes';
  font-size: 30px;
  color: black;
/*  color: -webkit-linear-gradient(top, #100FFE 0%, #FF00FF 10%, #00FBFF 100%);

*/  
 }

#container p {

}

#gifAnswer{
  position: absolute;
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

#gifAnswer img{
  margin-top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  /*z-index:-1;*/
}
